@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Montserrat', Helvetica, Arial, sans-serif;
}

h2 {
    text-align: center;
    padding-top: 1.5em;

}

h2::after {
    content: "..";
    color: #2e34e2;
    display: block;
}

.zone {
    transition: all .5s ease-in-out;
    width: 50%;
    border-radius: 10rem;
    background-color: rgba(255,250,250, 0.5);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style: none;
}

@media screen and (max-width: 700px) {
    .zone {
        width: auto;
    }

    .zone:hover{
        box-shadow: none;
    }
}

/**********NAVBAR**********/

header {
    /* background: linear-gradient(to right, #4568dc, #b06ab3); */
    background-color: rgba(0, 0, 0, 0.733);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 800;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li  {
    display: inline-block;
    padding: 2rem;
    list-style: none;
}

.nav_links li a, .ctn {
    text-decoration: none;
    font-family: 'Monserrat', 'Lato';
    font-size: 3em;
    background: linear-gradient(to left, rgb(241, 154, 40) 50%, mintcream 50%, rgb(255, 21, 21) 20%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 99%;
    transition: background-position 300ms ease;
}

/* .ctn {
    padding: 0.3rem 1.5rem;
    border: 1px solid bisque;
    background-color: transparent;
    border-radius: 10px;
    margin-right: 1.3rem;
    margin-left: 25px;

} */

.nav_links a:hover, .ctn:hover {
    background-position: 0 100%;
}

.logo {
    margin-right: auto;
    margin-left: 10px;
    width: 5em;

}

.hamburger {
    display: none;
    color: snow;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1700px) {
    .hamburger {
        display: block;
        color: snow;
        position: fixed;
        z-index: 100;
        right: 3rem;
        top: 1rem
    }

    .nav-links {
        position: absolute;
        left: -100%;
        top: 0rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        /* background: linear-gradient(to right, #4568dc, #b06ab3); */
        overflow: hidden;
    }

    .nav-links.active {
        left: 0;
        z-index: 1;
        position: absolute;
        font-size: 0.5rem;
        padding: 1rem;
        overflow: hidden;
        background-color: #b06ab3;
    }

    .fa-times{
        color: snow;
    }
}

/**********COVER**********/
#name{
    /* color:rgb(38, 38, 240); */
    color: rgb(255, 21, 21);
    font-weight:900;
    text-emphasis: bold;
}
.cover { 
    /* background: linear-gradient(to right, #4568dc, #908291); */
    /* background-color: #252934; */
    background-color: rgb(148, 180, 165);
    height: 95vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50em;
    padding-bottom: 5em;
    color: snow;
    overflow: hidden;
}

/* rgba(0, 0, 0, 0.5)
#252934
#616161
#333
#FF3F8E", "#04C2C9", "#2E55C1 */

.cover h1 {
    font-size: 8em;
    transition: all .3s ease-in-out;
    padding: 3rem;
} 

.cover h1:hover {
    transform: scale(1.02);
}

.cover h5 {
    border-right: solid 3px snow;
    white-space: nowrap;
    overflow: hidden;     
    margin: 0 auto;
    padding: 1rem;
    font-size: 4em;
  }
  
  /* animation */
  h5 {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 800px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: snow;}
    to{border-right-color: transparent;}
  }

.git {
    display: block;
    margin: 0 auto;
    padding: 0.5em 1em;
    border: 8px solid snow;
    background-color: transparent;
    color: snow;
    border-radius: 10px;
    transition: all 0.1s;
    position: relative;
    font-size: 3.5em;
    font-weight: 500;
    margin-top: 2rem;
}

.git::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: width 0.6s;
}

.git:hover{
    transform: scale(1.1);
    border: none;
}

.git:hover::before {
    width: 100%;
    background-color: rgb(255, 21, 21);
}

@media screen and (max-width: 1700px) {

    .cover {
        padding-top: 3rem;
        min-width: 100%;
        max-width: 100%;
        height: auto;
      }
    .cover h1 {
          font-size: 3rem;
      }
    .cover h5 {
          font-size: 1.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          animation:none;
          flex-wrap: wrap;
      }
    .git {
          font-size: 1.5rem;
      }
}


/**********PROJECTS**********/
.projects h2 {
    font-size: 6.5em;
}

.projects a {
    font-size: 3rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}

/* .carousel {
    width: 65%;
    margin: 0 auto;
    padding: 5rem;
}

.carousel img {
    width: 100%;
}

.carousel button {
    width: 30%;
}

@media all and (max-width: 1400px) {

    .cover {
        height: 100%;
    }

    .carousel {
        height: 100%;
        width: 100%;
    }

} */


/**********ABOUT ME**********/

.about h2 {
    font-size: 5em;
}

.about p {
    text-align: center;
    font-size: 4rem;
    padding-top: 3rem;
    padding-bottom: 3em;
}

.about .photo {
    display: block;
    margin: auto;
    border-radius: 200px;
    width: 40rem;
    box-shadow: -5px 5px 5px 9px rgb(148, 180, 165);
    padding-bottom: 2rem;
}

@media screen and (max-width: 1700px) {
    .about .photo {
        width: 15rem;
    }
}

/**********SKILLS**********/

.skills {
    padding-bottom: 9em;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.skills h2 {
    font-size: 6.5em;
}

.skills i {
    font-size: 15em;
    padding: 2.5rem;
}

/**********CONTACT**********/

.contact h2 {
    font-size: 6.5em;
}

/**********FOOTER**********/

footer {
    background-color: rgba(0, 0, 0, 0.733);
    color: bisque;
    height: 15vh;
}

/**********BACK TO TOP**********/

#sticky {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 3rem; /* Place the button at the bottom of the page */
    right: 3rem; /* Place the button 30px from the right */
    /* z-index: 100; */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(218, 214, 218); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 100px; /* Rounded corners */
    background-color:rgb(218, 214, 218);
    width: 4rem;
    height: 4rem;
  
  }
  
  .fa-3x {
      color: #4568dc;
      line-height: 1rem;
  }
  
  @media screen and (max-width: 300px) {
      #sticky {
          bottom: 0.3rem;
          right: 8rem;
          width: 3rem;
          height: 3rem;
  
      }
  }