@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Montserrat:wght@600&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Lato', Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 46px;
}

h2 {
    font-family: 'Josefin Sans';
    text-align: center;
    padding-top: 5rem;
    text-transform: uppercase;
}

h2::after {
    content: "...";
    color: rgb(255, 21, 21);
    display: block;
    font-size: 4rem;
    padding-bottom: 3vh;
}

a:hover {
    text-decoration: none;
}

/**********Aside**********/

#aside {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 25%;
    right: 0;
    height: 27%;
    width: auto;
    background-color: rgb(255, 250, 250);
    margin-right: auto;
    z-index: 100;
    padding: 0.5vw;
    border-radius: 5px;
}

aside li {
    list-style: none;
    text-decoration: none;
    padding: 1.7rem;
}

aside i {
    font-size: 2rem;
    /* color: rgb(148, 180, 165); */
    /* color: black; */
    color: rgb(255, 21, 21);
    /* color: rgb(192, 180, 17); */
}

aside a:hover {
    text-decoration: none;
    color: black;
}
/**********NAVBAR**********/
#navi {
    display: none;
    position: fixed;
    top: 0;
    width: 10%;
    height: 100%;
    background-color: rgb(255, 250, 250);
    text-transform: uppercase;
    z-index: 4;
    text-align: center;
    font-family: 'Montserrat';
}

.nav-links li {
    list-style: none;
    font-size: 1.7rem;
    padding: 2rem;
}

.nav-links li > a {
    text-decoration: none;
    font-family: 'Monserrat', 'Lato';
    font-weight: 900;
    background: linear-gradient(to left, black 50%, black 50%, rgb(255, 21, 21) 20%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 99%;
    transition: background-position 400ms ease-in-out;
}

.nav-links a:hover, .ctn:hover {
    background-position: 0 100%;
}

.logo {
    width: 25%;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

@media (max-width: 1700px) {
    #navi {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        text-transform: uppercase;
        z-index: 4;
    }

    .nav-links li {
        list-style: none;
        padding: 0;
        margin: 1%;
        display: inline-block;
        font-size: 2vh;
        vertical-align: center;
    }
    
    .nav-links li > a {
        text-decoration: none;
        font-family: 'Monserrat', 'Lato';
        font-size: 100%;
        font-weight: 900;
    
        /* background: linear-gradient(to left, black 50%, mintcream 50%, rgb(148, 180, 165) 20%); */
        background: linear-gradient(to left, black 50%, mintcream 50%, rgb(255, 21, 21) 10%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 99%;
        transition: background-position 400ms ease;
    }
    
    .nav-links a:hover, .ctn:hover {
        background-position: 0 100%;
    }
    
    .logo {
        width: 5%;
        padding-top: 0;

    }
}

/**********COVER**********/
#name{
    /* color:rgb(38, 38, 240); */
    color: rgb(255, 21, 21);
    font-weight: 900;
    text-emphasis: bold;
}
.cover { 
    /* background: linear-gradient(to right, #4568dc, #908291); */
    /* background-color: #252934; */
    background-color: rgb(148, 180, 165);
    height: 100vh;
    width: 100%;
    text-align: center;
    color: snow;
    padding-top: 15%;
}

.cover h1 {
    font-size: 2vw;
    transition: all .3s ease-in-out;
} 

.cover h1:hover {
    transform: scale(1.02);
}

.cover h5 {
    border-right: solid 0.1vw snow;
    white-space: nowrap;
    overflow: hidden;     
    margin: 0 auto;
    font-size: 1.2vw;
    vertical-align: center;
  }
  
  /* animation */
  h5 {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(20,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 20%;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: snow;}
    to{border-right-color: transparent;}
  }

    .git {
        /* display: block;
        margin: 0 auto; */
        padding: 0.5em 1em;
        border: 0.2vw solid rgb(255, 21, 21);
        background-color: transparent;
        color: rgb(255, 21, 21);
        transition: all 0.1s;
        /* position: relative; */
        font-size: 1vw;
        font-weight: 800;
    }

    .git::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        z-index: -1;
        transition: width 0.6s;
    }

    .git:hover{
        transform: scale(1.1);
        border: none;
        color: snow;
    }

    .git:hover::before {
        width: 100%;
        background-color: rgb(255, 21, 21);
    }

@media screen and (max-width: 1700px) {
    .cover {
        padding-top: 10rem;
        padding-bottom: 10rem;
        min-width: 100%;
        max-width: 100%;
        height: auto;
      }

    .cover h1 {
          font-size: 2em;
      }

    .cover h5 {
          font-size: 1.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          animation: none;
          flex-wrap: wrap;
      }

    .git {
        border: 2px solid rgb(255, 21, 21);
        font-size: 1rem;
      }
}


/**********PROJECTS**********/
.projects {
    width: 100%;
    background-color: snow;
    text-align: center;
}

.projects h2 {
    font-size: 2.7rem;
    font-family: 'Josefin Sans';
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 5px;
    justify-items: center;
    align-content: center;
    padding-left: 17vw;
    padding-right: 15vw;
    padding-bottom: 3vw;
}

.card {
    padding: 1.5rem;
    /* border: rgb(255, 21, 21) solid 1px;
    transition: all .4s ease-in-out; */
    font-size: 2rem;

    box-shadow: 1px 3px 30px rgb(196, 196, 196);
    transition: all .5s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.card-img-top {
    width: 30rem;
    padding: 1rem;
    background-color: rgb(255, 250, 251);
    /* border-bottom: solid 1px rgb(255, 21, 21); */
}

.card-body {
    font-size: 2.5rem;
    padding-top: 1.5rem;
    text-decoration: none;
}

.card-body i {
    color:rgb(255, 21, 21);
    text-decoration: none;
    cursor: pointer;
}

.card-body a:hover {
    text-decoration: none;
}

/**********ABOUT ME**********/
.about {
    background-color: rgb(244, 247, 246);
    background-color: rgb(227, 238, 234);
}

.about h2 {
    font-size: 2.7rem;
    font-family: 'Josefin Sans';
}

.about p {
    text-align: center;
    font-size: 1.2vw;
    padding-top: 3rem;
    padding-bottom: 3em;
}

.about .photo {
    display: block;
    margin: auto;
    border-radius: 50px;
    width: 20rem;
    box-shadow: -3px 5px 5px 5px rgb(148, 180, 165);
    margin-bottom: 2vh;
    transition: all 0.3s ease-in-out;
}

.about .photo:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1700px) {
    .about .photo {
        width: 15rem;
    }
}

/**********SKILLS**********/

.skills {
    padding-bottom: 9vh;
    /* background-color: rgb(245, 245, 236); */
    background-color: rgb(243, 240, 240);
}

.skills h2 {
    font-size: 2.7rem;
    font-family: 'Josefin Sans';
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-left: 7vw;
    padding-bottom: 4rem; 
}

.skills i {
    font-size: 10rem;
    padding: 1.3rem;
}

.skills li {
    transition: all 0.3s ease-in-out;
}

.skills li:hover {
    transform: rotate(-15deg);
}

/**********CONTACT**********/
.contact {
    height: 35vh;
    /* background-color: rgb(235, 235, 235); */
    background-color: rgb(244, 247, 246);
    background-color: rgb(241, 237, 238);
    background-color: snow;
    text-align: center;
    padding-bottom: 5vh;
}

.contact h2 {
    font-size: 2.7rem;
    font-family: 'Josefin Sans';
}

.constact ul {
    display: flex;
    flex-wrap: wrap;
}

.contact li {
    text-align: center;
    list-style: none;
    cursor: pointer;
}

.contact a {
    color: black;
    padding: 1.5rem;
    font-size: 6rem;
    transition: all 0.5s ease;
}

.contact a:hover {
    text-decoration: none;
    color: rgb(255, 21, 21);
}

/**********BLOG**********/

.blog {
    background-color: snow;
    background-color: rgb(227, 238, 234);
}

.blog h2 {
    font-size: 2.7rem;
    font-family: 'Josefin Sans';
}

.gridb {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    align-content: center;
    gap: 1vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 3vw; */
}

.cardb {
    font-size: 45px;
    /* background-color: snow; */
    background-color: transparent;
    /* border: rgb(218, 212, 212) solid 1px; */
    /* box-shadow: 1px 3px 30px rgb(196, 196, 196);
    transition: all .5s ease-in-out; */
    /* border: 1px solid red; */
    transition: all 0.3s ease-in-out;
    padding: 2rem;
}

.cardb:hover {
    transform: scale(1.1);
}

/* .cardb-img-top {
    width: 15vw;
    padding: 6rem;
} */

.cardb-body {
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    color: black;
}

.cardb-body i {
    color: black;
}


/**********FOOTER**********/

footer {
    height: 3vh;
    background-color: rgb(245, 234, 235);
    text-align: center;
    font-size: 0.5vw;
}

