/* NAV */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.zone {
    transition: all .5s ease-in-out;
    width: 50%;
    border-radius: 10rem;
    background-color: snow;
}

.zone:hover {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    transform: scale(1.05);
}

/**********NAVBAR**********/

header {
    background: linear-gradient(to right, #4568dc, #b06ab3);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2rem;
}

.nav_links {
    margin: 0;
    padding: 0;
}

.nav_links li{
    display: inline-block;
    padding: 1rem;
    list-style: none;
}

.nav_links li a, .ctn {
    text-decoration: none;
    font-family: monospace, 'Lato';
    font-size: 3.5em;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to left, bisque, bisque 50%, midnightblue 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 102%;
    transition: background-position 275ms ease;
    padding: 0.5em;
}


.nav_links a:hover, .ctn:hover {
    background-position: 0 100%;
    border-color: midnightblue;
}

.ctn {
    padding: 0.3rem 1.5rem;
    border: 1px solid bisque;
    background-color: transparent;
    border-radius: 10px;
    margin-right: 1.2rem;
    margin-left: 10px;

}

.logo {
    margin-right: auto;
    margin-left: 10px;
    width: 5em;

}

@media screen and (max-width: 1700px) {
    .nav_links, .ctn {
        display: none;
    }
}

/**********COVER**********/
.cover { 
    background: linear-gradient(to right, #4568dc, #b06ab3);
    height: 65vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 27rem;
    padding-bottom: 2rem;
    color: bisque;
}

.cover h1 {
    font-size: 7em;
    transition: all .3s ease-in-out;
} 

.cover h1:hover {
    transform: scale(1.02);
}

.cover h5 {
    border-right: solid 3px bisque;
    white-space: nowrap;
    overflow: hidden;    
    font-family: monospace;  
    margin: 0 auto;
    padding: 1rem;
    font-size: 4em;
  }
  
  /* Animation */
  h5 {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 800px;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: bisque;}
    to{border-right-color: transparent;}
  }

.git {
    display: block;
    margin: 0 auto;
    padding: 0.3em 0.8em;
    border: 2px solid beige;
    background-color: transparent;
    color: beige;
    border-radius: 10px;
    transition: all 0.4s;
    font-family: monospace;
    position: relative;
    font-size: 3em;
    margin-top: 2rem;
}

.git::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: width 0.6s;
}

.git:hover{
    transform: scale(1.1);
    border: none;
}

.git:hover::before {
    /* border: 0.5px solid rgb(209, 203, 203); */
    width: 100%;
    background-color: #b06ab3;
}

@media screen and (max-width: 1700px) {

    .cover {
        padding-top: 3rem;
        min-width: 100%;
        max-width: 100%;
        height: auto;
      }
    .cover h1 {
          font-size: 3rem;
      }
    .cover h5 {
          font-size: 1.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          animation:none;
          flex-wrap: wrap;
      }
    .git {
          font-size: 1.5rem;
      }
}


/**********PROJECTS**********/
.carousel {
    width: 65%;
    margin: 0 auto;
    padding: 5rem;
}

.carousel img {
    width: 100%;
}

.carousel button {
    width: 30%;
}

@media all and (max-width: 1400px) {

    .cover {
        height: 100%;
    }

    .carousel {
        height: 100%;
        width: 100%;
    }

}


/**********ABOUT ME**********/
.about {
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    font-size: 3rem;
    padding: 1rem;
    padding-bottom: 3em;
}

.about h2 {
    color: #2e34e2;
    font-weight: bold;
    text-align: center;
    font-size: 5rem;
    padding-top: 3em;
}

h2::after {
    content: "..";
    color: #2e34e2;
    display: block;
}

.about .photo {
    display: block;
    margin: auto;
    border-radius: 200px;
    width: 40rem;
    box-shadow: -5px 5px 5px 5px #4568dc;
}

@media screen and (max-width: 1700px) {
    .about .photo {
        width: 15rem;
    }
}



/**********SKILLS**********/

.skills {
    padding-bottom: 7em;
    margin-left: auto;
    margin-right: auto;
}

.skills h2 {
    color: #2e34e2;
    font-weight: bold;
    text-align: center;
    font-size: 5rem;
    padding-top: 3em;
}

h2::after {
    content: "..";
    color: #2e34e2;
    display: block;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.skills i {
    font-size: 15em;
    padding: 2.5rem;
}

/**********FOOTER**********/

footer {
    background-color: black;
    color: bisque;
}